.container {
    color: #000;
    margin-top: 20px;
    background-color: #f7f7f7;
    padding: 60px;
    box-sizing: border-box;
    box-shadow: -4px -3px 10px rgba(0, 0, 0, 0.5);
    label{
      font-weight: bold;
    }
  }
  
  button {
    margin: 20px 10px 0 0;
    border: 2px solid rgba(0,0,0,.3);
    padding: 5px 20px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      transition: 0.5s;
      border-color: rgba(0, 0, 0, 0.5)
    }
    &:active:focus {
      border: 0;
      outline: none;
    }
  }
  
  form {
    padding: 20px;
  }
@media(max-width: 420px){
  .container{
    button{
      font-size: 14px;
      padding: 5px 10px;
    }
  }
}