<div class="container">
  <h1 class="header">Please login to proceed</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label>Email address</label>
          <input type="email" formControlName="email" class="form-control" (blur)="validation($event, 'Email')">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password" (blur)="validation($event, 'Password')">
        </div>
        <div>
          <button type="submit" (click)="credentialsLogin(loginForm.value)" class="btn btn-default">Login</button>
          <button class="btn btn-primary" routerLink="/signup">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
  </div>
