<div class="container">
    <h3>Create your account</h3>
  <form class="form-group col-md-6" [formGroup]="signUpForm" (ngSubmit)="register(signUpForm.value)">
    <input class="form-control" formControlName="name" type="text" placeholder="Your name">
    <input class="form-control" formControlName="email" type="text" placeholder="Email">
    <input class="form-control" formControlName="password" type="password" placeholder="And password :)">
    <button type="submit" class="btn btn-primary">Sign Up</button>
    <button class="btn btn-secondary" routerLink="/login">Back to Login</button>
  </form>
</div>