<div class="container">
  <button class="btn btn-secondary" routerLink="/tv-movies">Back</button>
  <h3>My favorites</h3>
    <table class="table table-fixed" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Release Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let movie of favouriteMovies  | filter: searchExp  ; let i = index'>
            <th scope="row">{{i + 1}}</th>
            <td>{{movie.value.Title}}</td>
            <td>{{movie.value.Release_Date}}</td>
          </tr>
        </tbody>
      </table>
</div>