.container {
    color: #000;
    margin-top: 20px;
    background-color: #f7f7f7;
    padding: 60px;
    box-sizing: border-box;
    box-shadow: -4px -3px 10px rgba(0, 0, 0, 0.5);
    button{
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
@media(max-width: 420px){
  .container{
    button{
      font-size: 14px;
    }
  }
}