<div class="container">
  <ng-container *ngIf="currUser$ | async as user">
    <h4 class="text-right">Welcome, <b>{{user.value.name}}</b></h4>
    <nav>
      <div>
        <button class="btn btn-danger" (click)="clearFavs(user.key)">Clear Favorites</button>
        <button class="btn btn-secondary fav-btn" routerLink="/favorites">My Favorites</button>
      </div>
      <button class="btn btn-warning logout" (click)="mainService.signOut()">Logout</button>
    </nav>

    <input type="text" class="form-control" placeholder="Search movie or tv-show" [(ngModel)]="searchExp">
    <div class="table-wrapper">
      <div class="loader" *ngIf="!(movies$ | async)">Loading...</div>
      <table class="table table-fixed" *ngIf="(movies$ | async)">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Rating IMDB</th>
            <th scope="col">Release Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let movie of movies  | filter: searchExp  ; let i = index'>
            <th scope="row">{{i + 1}}</th>
            <td>{{movie.value.Title}}</td>
            <td>{{movie.value.IMDB_Rating}}</td>
            <td>{{movie.value.Release_Date}}</td>
            <td>
              <i class="fas fa-heart favs" (click)="addToFavs(user.key, movie.value, i)" [ngClass]="movie.value.isFavorite ? 'favorite' : ''"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>
