.container {
  color: #000;
  margin-top: 20px;
  background-color: #f7f7f7;
  padding: 60px;
  box-sizing: border-box;
  box-shadow: -4px -3px 10px rgba(0, 0, 0, 0.5);

  .fav-btn {
    margin: 10px 0px 10px 10px;
  }

  button {
    border: 2px solid rgba(0, 0, 0, 0.2);
    font-weight: bold;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.table-wrapper {
  max-height: 400px;
  padding: 40px;
  margin: 30px 0px;
  overflow-y: auto;

  .favs {
    color: red;
    cursor: pointer;

    &.favorite {
      color: maroon;
    }

    &:focus:active {
      font-size: 20px;
      transition: 0.2s;
      line-height: 20px
    }
  }
}

.logout {
  margin: 10px 0;
  font-weight: bold;
  border: 2px solid rgba(0, 0, 0, .5);
}

.loader {
  background: darkslategray;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;

  &:before,
  &:after {
    background: darkslategray;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
  }

  color: darkslategray;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;

  &:before,
  &:after {
    position: absolute;
    top: 0;
    content: '';
  }

  &:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  &:after {
    left: 1.5em;
  }
}

@-webkit-keyframes load1 {

  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}


@keyframes load1 {

  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@media(max-width: 576px) {
  .container {
    button {

      padding: 5px;
      font-size: 14px;
    }

    .fav-btn {
      margin: 10px 0;
    }

  }

}

